 summary {
    font-size: 20px;   /* tamaño del título */
    font-weight: bold; /* opcional */
  }

  label {
    font-size: 15px;   /* texto interno */
  }

  .subtitulo{
    font-size: 20px;
  }


   .flex-contenedor {
    display: flex;
    justify-content: space-around; /* distribución horizontal */
    align-items: flex-start;       /* alineación vertical */
    flex-wrap: wrap;               /* permite salto de línea */
    gap: 20px;
    margin-top: 20px;
    }

    .flex-item {
        width: 300px;
        padding: 15px;
        background-color: #ffffff;
        text-align: center;
        border-radius: 10px;
     }

    .flex-item img {

        border-radius: 8px;
        width: 200px;
        height: 200px;
    }

    .flex-item button {
        margin-top: 10px;
        padding: 8px 12px;
        cursor: pointer;
    }
